/********************/


/*Reset All Elements*/


/********************/

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 0;
}

span {
    width: 760px;
    height: 152px;
    display: block;
}

div {
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 1px solid black;
}

main {
    width: 760px;
    height: 760px;
    border: 2px solid black;
    margin: 20px auto;
}

img {
    width: 150px;
    height: 150px;
}